@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Cookie&family=Corinthia&family=Dancing+Script&family=Indie+Flower&family=Josefin+Slab:ital,wght@1,100&family=Lobster+Two&family=MonteCarlo&family=Nanum+Myeongjo&family=Satisfy&display=swap');

*{
    margin: 0;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
    
}

#nav{
    font-size: 20px;
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 70px;
    background-color:darkgray;
}

/* Plants */
#plantImg{
    width: 100%;
    object-fit: cover;
    height: 200px;
}

#plantTable{
    text-align: center;
}

#plantCol{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Forum */
#sortBar{
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
    
}

#toolbar{
    width: 150px;
}


/* sign in and up */
#signInContainer{
    padding-top: 20px;
}

#signIn{
    padding: 15px;
    font-size: 30px;
    text-align: center;

}

#signUp{
    padding: 15px;
    font-size: 30px;
    text-align: center;

}

